.login .animation {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .inputs form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form .col {
  width: 100% !important;
}

.login .inputs h1 {
  text-align: center;
  margin: 30px 0 30px 0;
}

@media (min-width: 768px) {
  .login .animation {
    min-height: auto;
  }

  .login {
    min-height: 100vh;
  }
}

@media (min-width: 1100px) {
}
