.blog {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog .logo {
  display: flex;
  justify-content: center;
}

.blog .cardData {
  width: 100% !important;
}

.blog .card .card-action {
  display: flex;
  justify-content: center;
}

.blog .card-content{
  color: #000 !important;
}

.blog .card a {
  color: var(--primary-dark) !important;
}
